<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Ligue 1</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-grid *ngIf="clubs">
    <ion-row>
      <ion-col col-4 *ngFor="let club of clubs">
        <img [src]="club.logo" (click)="goToDetail(club)" />
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
