<ion-header>

    <ion-navbar color="primary">
      <button menuToggle ion-button icon-only>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Ligue 1 Application</ion-title>
    </ion-navbar>

    <ion-toolbar color="secondary">
      <ion-title>Mes équipes favorites</ion-title>
    </ion-toolbar>

  </ion-header>

  <ion-content>

    <ion-card *ngIf="favoriteClubs && favoriteClubs.length; else noFavorite">
      <ion-list>
        <ion-list-header class="my-clubs-header">Equipes favorites</ion-list-header>
        <ion-item *ngFor="let club of favoriteClubs" (click)="goToDetail(club)">
          <ion-row>
            <ion-col col-1>
              <ion-icon name="star"></ion-icon>
            </ion-col>
            <ion-col col-6 text-wrap>
              <h4>{{club.name}}</h4>
            </ion-col>
            <ion-col col-3>
              <h4>{{club.date}}</h4>
            </ion-col>
            <ion-col col-2>
              <ion-badge color="primary">{{club.classement}}</ion-badge>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
      <ion-card-content>
        <p>Vous aimez plus d'équipes ? Cliquez sur le bouton !</p>
        <button icon-left ion-button full (click)="findClub()">
          <ion-icon name="search"></ion-icon>
          Rechercher une équipe
        </button>
      </ion-card-content>
    </ion-card>

    <ng-template #noFavorite>
      <ion-card>
        <ion-card-content>
          <p>Vous n'avez pas sélectionner d'équipe.</p>
          <p>Veuillez en choisir une en cliquant sur le bouton ci-dessous !</p>
          <button ion-button icon-left full (click)="findClub()">
            <ion-icon name="search"></ion-icon>
            Rechercher une équipe
          </button>
        </ion-card-content>
      </ion-card>
    </ng-template>

  </ion-content>
