<ion-header>

  <ion-navbar color="primary">
    <ion-title *ngIf="club">{{club.name}}</ion-title>
    <ion-buttons end>
      <button ion-button incon-only style="font-size: 1.7em" (click)=toggleFavorite()>
        <ion-icon [name]="isFavorite ? 'star':'star-outline'"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-card *ngIf="club">
    <img [src]="club.logo" />
    <ion-card-header>
      <h2>Classement Ligue 1
        <ion-badge color="primary">{{club.classement}}</ion-badge>
      </h2>
    </ion-card-header>
    <ion-card-content>Date de création : {{club.date}}</ion-card-content>
    <ion-card-content>{{club.description}}</ion-card-content>
  </ion-card>

</ion-content>
